h1 {
	color: rgb(14, 10, 2);
	text-align: center;
	font-size: 48px;
}
.nuestroPlantel {
	text-align: center;
	line-height: 40px;
	list-style-position: inside;
	h3 {
		font-size: 30px;
		margin-top: 2%;
		margin-bottom: 0.75%;
	}
}
.mainPlantel {
	height: 100%;
	background-color: rgb(251, 238, 222);
	section {
		li {
			font-size: 20px;
		}
	}
	h2 {
		font-size: 45px;
		line-height: 50px;
	}
}
.mainIndex {
	background-color: rgb(249, 234, 218);
	height: 100vh;
	h1 {
		padding-top: 1%;
	}
}
.escudoPalo {
	width: 450px;
	height: 450px;
	opacity: 0.7;
	display: block;
	margin: auto;
}
.presentacionSpalo {
	text-align: center;
	div {
		p {
			padding-bottom: 2%;
		}
	}
}